@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: #F6F9F9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.border-animation-top,
.border-animation-right,
.border-animation-bottom,
.border-animation-left {
  content: "";
  position: absolute;
  background-color: #22b8cf;
  transition: all 0.3s;
}

.border-animation-top,
.border-animation-bottom {
  width: 0;
  height: 3px;
  left: 50%;
}

.border-animation-right,
.border-animation-left {
  width: 3px;
  height: 0;
  top: 50%;
}

.border-animation-top {
  top: 0;
}

.border-animation-right {
  right: 0;
}

.border-animation-bottom {
  bottom: 0;
}

.border-animation-left {
  left: 0;
}

.service-title:hover .border-animation-top {
  width: 100%;
  left: 0;
}

.service-title:hover .border-animation-right {
  height: 100%;
  top: 0;
}

.service-title:hover .border-animation-bottom {
  width: 100%;
  left: 0;
}

.service-title:hover .border-animation-left {
  height: 100%;
  top: 0;
}
.arrow-animation {
  position: absolute;
  opacity: 0;
  transition: all 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
}

.service-title:hover .arrow-animation {
  opacity: 1 !important;
  left: 60%;
  z-index: 300;
}
.custom-shape-divider-bottom-1682269177 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1682269177 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 152px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1682269177 .shape-fill {
  fill: #FFFFFF;
}
.my-card{
  background-color: transparent !important;
}
.my-card  > div::after{
  background: transparent !important;
}
.timeline-main-wrapper{
  overflow-y: hidden !important;
}
.jjmwTN{
  background: #22b8cf !important;
}